.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 16px 0;
  text-align: right;

  &-icon {
    transition: color 0.3s;
    color: rgb(0 0 0 / 25%);
    font-size: 24px;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }
}

.panel {
  width: 100%;
  padding: 16px 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
